{% extends "blog_wrapper.html" %}
{% block heading %}Forum{% endblock %}
{% block css %}
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">

{% endblock %}
{% block content %}
  {% for blog_post in blog_posts %}
    <div class="subject_header row">
      <div class="subject col-md-8">
        <p>
          <a href="/posts/{{blog_post.key().id()}}">{{blog_post.subject}}</a>
        </p>
      </div>
      <div class="credits col-md-4 text-right">
        <small>Posted by {{blog_post.owner}} on {{blog_post.created.date()}}</small>
      </div>
    </div>
    <hr>
    <div class="post_content">
      <p>{{blog_post.content}}</p>
    </div>
    <div class="post_footer row">
      <div class="post_actions col-md-6">
        {% if not username %}
          <form action="/login">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary btn-sm">
                <input type="radio" name="liked" value="True"
                onChange='this.form.submit();'>Like
              </label>
              <label class="btn btn-primary btn-sm">
                <input type="radio" name="liked" value="False"
                onChange='this.form.submit();'>Unlike
              </label>
            </div>
          </form>
          <br>
          <p><a href="/login">Add a Comment</a></p>
          </div>
        {% endif %}
        {% if username %}
          {% if username != blog_post.owner %}
            <form action="/like" method="post">
              <div class="btn-group" data-toggle="buttons">
                {% if blog_post|attr(username) %}
                  <label class="btn btn-primary btn-sm active">
                    <input type="radio" name="liked" value="True" checked
                    onChange='this.form.submit();'>Like
                  </label>
                  <label class="btn btn-primary btn-sm">
                    <input type="radio" name="liked" value="False"
                     onChange='this.form.submit();'>Unlike
                  </label>
                {% else %}
                  <label class="btn btn-primary btn-sm">
                    <input type="radio" name="liked" value="True"
                    onChange='this.form.submit();'>Like
                  </label>
                  <label class="btn btn-primary btn-sm active">
                    <input type="radio" name="liked" value="False" checked
                     onChange='this.form.submit();'>Unlike
                  </label>
                {% endif %}
                <input type="hidden" name="post_id"
                value="{{blog_post.key().id()}}">
                <input type="hidden" name="username" value="{{username}}">
                <input type="hidden" name="source" value="{{source}}">
              </div>
            </form>
            <br>
            {% endif %}
          <p><a href="/comment/{{blog_post.key().id()}}">Add a Comment</a></p>
        </div>
        {% endif %}
      <div class="response_counts col-md-6 text-right">
        <small>{{blog_post.comment_count}} comments, {{blog_post.like_count}} likes</small>
      </div>
    </div>
  {% endfor %}
{% endblock %}