{% extends "blog_wrapper.html" %}
{% block heading %}Forum{% endblock %}
{% block css %}
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap-confirmation.min.js"></script>
{% endblock %}
{% block content %}
  {% for blog_post in blog_posts %}
    <div class="subject_header row">
      <div class="subject col-md-6">
        <p>
          <a href="/posts/{{blog_post.key().id()}}">{{blog_post.subject}}</a>
        </p>
      </div>
      <div class="credits col-md-6 text-right">
        <small>Posted by {{blog_post.owner}} on {{blog_post.created.date()}}</small>
      </div>
    </div>
    <hr>
    <div class="post_content">
      <p>{{blog_post.content}}</p>
    </div>
    <div class="post_footer row">
      <div class="post_actions col-md-6">
        <p>
        {% if not username %}
          <a href="/login">Comment</a> |
          <a href="/login">Like</a>
        {% endif %}
        {% if username %}
          <a href="/comment/{{blog_post.key().id()}}">Comment</a> |
          {% if blog_post.owner != username %}
            <a href="/like/{{blog_post.key().id()}}?source_url={{source}}">Like</a>
          {% endif %}
          {% if blog_post.owner == username %}
            <a href="/edit/{{blog_post.key().id()}}">Edit</a> |
            <a href="/delete/{{blog_post.key().id()}}">Delete</a>
          {% endif %}
        {% endif %}
        </p>
      </div>
      <div class="response_counts col-md-6 text-right">
        <small>{{blog_post.comment_count}} comments, {{blog_post.like_count}} likes</small>
      </div>
    </div>
  {% endfor %}
{% endblock %}