<!DOCTYPE html>
<html>
  <head>
    <title>Forum - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="text-uppercase">Forum</h1>
        <h3>Login</h3>
        <small>Don't have an account yet? <a href="/signup">Sign Up!</a></small>
        <br>
        <br>
      </header>
      <content>
        <form method="post">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control input-lg" name="username"
            value="{{username}}">
            <p class="help-block">{{username_error}}</p>
            <p class="help-block">{{username_nonexistent_error}}</p>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control input-lg" name="password"
            value="{{password}}">
            <p class="help-block">{{password_error}}</p>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </content>
  </body>
</html>