{% extends "blog_wrapper.html" %}
{% block heading %}My Posts{% endblock %}
{% block css %}
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
{% endblock %}
{% block content %}
  {% for blog_post in blog_posts %}
    <div class="subject_header row">
      <div class="subject col-md-8">
        <p>
          <a href="/posts/{{blog_post.key().id()}}">{{blog_post.subject}}</a>
        </p>
      </div>
      <div class="credits col-md-4 text-right">
        <small>Posted by {{blog_post.owner}} on {{blog_post.created.date()}}</small>
      </div>
    </div>
    <hr>
    <div class="post_content">
      <p>{{blog_post.content}}</p>
    </div>
    <div class="post_footer row">
      <div class="post_actions col-md-6">
        <p><a href="/comment/{{blog_post.key().id()}}">Add a Comment</a></p>
      </div>
      <div class="response_counts col-md-6 text-right">
        <small>{{blog_post.comment_count}} comments, {{blog_post.like_count}} likes</small>
      </div>
    </div>
  {% endfor %}
{% endblock %}
