{% extends "blog_wrapper.html" %}
{% block heading %}New Post{% endblock %}
{% block css %}
<link rel="stylesheet" href="css/bootstrap.min.css">
{% endblock %}
{% block content %}
  <div class="blog_post">
    <div class="post_form">
      <form method="post">
        <label>Subject<br>
          <input type="text" name="subject" value="{{subject}}">
        </label>
        <br>
        <br>
        <label>Content<br>
          <textarea name="content">{{content}}</textarea>
        </label>
        <p class="error">{{error}}</p>
        <br>
        <input type="submit" value="Post It!">
      </form>
    </div>
  </div>
  <hr>
{% endblock %}