{% extends "blog_wrapper.html" %}
{% block heading %}Forum{% endblock %}
{% block css %}
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
{% endblock %}
{% block content %}
  <div class="subject_header row">
    <div class="subject col-md-8">
      <p>{{subject}}</p>
    </div>
    <div class="credits col-md-4 text-right">
      <small>Posted by {{owner}} on {{created.date()}}</small>
    </div>
  </div>
  <hr>
  <div class="post_content">
    <p>{{content}}</p>
  </div>
  <div class="post_footer row">
    <div class="post_actions col-md-6">
        {% if not username %}
          <form action="/login">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary btn-sm">
                <input type="radio" name="liked" value="True"
                onChange='this.form.submit();'>Like
              </label>
              <label class="btn btn-primary btn-sm">
                <input type="radio" name="liked" value="False"
                 onChange='this.form.submit();'>Unlike
              </label>
            </div>
          </form>
        {% endif %}
        {% if username %}
          {% if owner != username %}
            <form action="/like" method="post">
              <div class="btn-group" data-toggle="buttons">
                  {% if liked == True %}
                    <label class="btn btn-primary btn-sm active">
                      <input type="radio" name="liked" value="True" checked
                      onChange='this.form.submit();'>Like
                    </label>
                    <label class="btn btn-primary btn-sm">
                      <input type="radio" name="liked" value="False"
                       onChange='this.form.submit();'>Unlike
                    </label>
                  {% else %}
                    <label class="btn btn-primary btn-sm">
                      <input type="radio" name="liked" value="True"
                      onChange='this.form.submit();'>Like
                    </label>
                    <label class="btn btn-primary btn-sm active">
                      <input type="radio" name="liked" value="False" checked
                       onChange='this.form.submit();'>Unlike
                    </label>
                  {% endif %}
                  <input type="hidden" name="post_id" value="{{post_id}}">
                  <input type="hidden" name="username" value="{{username}}">
                  <input type="hidden" name="source" value="{{source}}">
              </div>
            </form>
          {% endif %}
          {% if owner == username %}
            <div class="row">
              <div class="edit_link col-md-1">
                <p><a href="/edit/{{post_id}}">Edit</a></p>
              </div>
              <div class="col-md-1">|</div>
              <div class="delete_button col-md-1">
                <form
                onsubmit="return confirm
                ('Are you sure you want to delete the post and all comments?');"
                action="/delete" method="post">
                  <input type="hidden" name="post_id" value="{{post_id}}">
                  <button type="submit" class="btn btn-link">Delete</button>
                </form>
              </div>
            </div>
          {% endif %}
        {% endif %}
    </div>
    <div class="response_counts col-md-6 text-right">
      <small>
        {% if liked == True %}You liked this! |{% endif %}
        {{comment_count}} comments, {{like_count}} likes</small>
    </div>
  </div>
  <div class="comments">
    <div class="comments_title">
      <h3>Comments</h3>
      {% if username %}
        <p><a href="/comment/{{post_id}}">Add a Comment</a>
      {% else %}
        <p><a href="/login">Add a Comment</a>
      {% endif %}
    </div>
    {% for comment in comments %}
      <div class="comment_header">
        <strong>{{comment.owner}} on {{comment.created.date()}} at
        {{comment.created.time()}}
        </strong>
      </div>
      <div class="comment">
        <p>{{comment.comment}}</p>
      </div>
      <div class="comment_footer">
        {% if comment.owner == username %}
          <div class="row">
          <div class="col-md-6">
          <div class="row">
            <div class="edit_link col-md-1">
              <p><a href="/edit_comment/{{post_id}}/{{comment.key().id()}}"
              class="edit_href">Edit</a></p>
            </div>
            <div class="col-md-1">|</div>
            <div class="delete_button col-md-1">
              <form
              onsubmit="return confirm
              ('Are you sure you want to delete the comment?');"
              action="/delete_comment" method="post">
                <input type="hidden" name="comment_id" value="{{comment.key().id()}}">
                <input type="hidden" name="post_id" value="{{post_id}}">
                <button type="submit" class="btn btn-link">Delete</button>
              </form>
            </div>
          </div>
          </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

