{% extends "blog_wrapper.html" %}
{% block heading %}Forum{% endblock %}
{% block css %}
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/main.css">
{% endblock %}
{% block content %}
  <div class="subject_header row">
    <div class="subject col-md-6">
      <p>{{subject}}</p>
    </div>
    <div class="credits col-md-6 text-right">
      <small>Posted by {{owner}} on {{created}}</small>
    </div>
  </div>
  <hr>
  <div class="post_content">
    <p>{{content}}</p>
  </div>
  <div class="post_footer row">
    <div class="post_actions col-md-6">
      {% if owner == username %}
        <p><a href="/delete/{{post_id}}">Delete</a> |
        <a href="/edit/{{post_id}}">Edit</a> |
      {% endif %}
      {% if username %}
        <a href="/comment/{{post_id}}">Comment</a> |
        {% if liked %}
          <a href="/unlike/{{post_id}}?source_url={{source}}">Unlike</a>
        {% else %}
          <a href="/like/{{post_id}}?source_url={{source}}">Like</a></p>
        {% endif %}
      {% endif %}
    </div>
    <div class="response_counts col-md-6 text-right">
      <small>
        {% if liked == True %}
          You liked this! |
        {% endif %}
      {{comment_count}} comments, {{like_count}} likes</small>
    </div>
  </div>
  <div class="comments">
    <div class="comments_title">
      <h3>Comments</h3>
    </div>
    {% for comment in comments %}
      <div class="comment_header">
        <strong>{{comment.owner}} on {{comment.created.date()}} at
        {{comment.created.time()}}
        </strong>
      </div>
      <div class="comment">
        <p>{{comment.comment}}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}

