<!DOCTYPE html>
<html>
  <head>
    <title>Forum - Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="text-uppercase">Forum</h1>
        <h3>Sign Up</h3>
        <small>Already have an account? <a href="/login">Login!</a></small>
        <br>
        <br>
      </header>
      <content>
        <form method="post">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control input-lg" name="username"
            value="{{username}}">
            <p class="help-block">{{username_error}}</p>
            <p class="help-block">{{username_exists_error}}</p>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control input-lg" name="password"
            value="{{password}}">
            <p class="help-block">{{password_error}}</p>
          </div>
          <div class="form-group">
            <label for="verify">Verify Password</label>
            <input type="password" class="form-control input-lg" name="verify"
            value="{{verify}}">
            <p class="help-block">{{verify_error}}</p>
          </div>
          <div class="form-group">
            <label for="emai">Email (optional)</label>
            <input type="email" class="form-control input-lg" name="email"
            value="{{email}}">
            <p class="help-block">{{email_error}}</p>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </content>
    </div>
  </body>
</html>